<!DOCTYPE html>
<html lang="en">
<head>
    <!--
   Dating Website
   Author: Collin Woodruff
   Date:   1/19/2018

   Filename: home.html
  -->
    <title>Home</title>
    <meta charset="UTF-8">
    <link href="styles/styles.css" rel="stylesheet"  type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <section class="col">
                <h1  class="text-lg-center">My Dating Website!</h1>
                <p  class="text-lg-center">This is the next step in online dating.</p>
                <fieldset>
                    <legend class="align-self-lg-auto-center">The normal positive reviews you always see.</legend>
                    <hr>
                    <p class="text-lg-center">Bobby met Martha</p>
                    <p class="text-lg-center">Bobby met Martha</p>
                    <p class="text-lg-center">Bobby met Martha</p>
                    <hr>
                    <button id="CreateProfile" class="btns">Create a Profile!</button>
                </fieldset>
            </section>
            <section class="col">
                <h2  class="text-lg-center">Don't be a sweet tart be a</h2>
                <img class="align-self-center img-fluid rounded-circle" src="images/SweetHeart.jpg" alt="sweetHeart">
            </section>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>