<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>
<body>
<form action="#" method="post" class="form-horizontal">

    <fieldset>
        <legend>Your interests</legend>
        <label>
            <input type="checkbox" value="pepperoni"
                   name="toppings[]">&nbsp;Pepperoni
        </label>
        <label>
            <input type="checkbox" value="mushroom"
                   name="toppings[]">&nbsp;Mushroom
        </label>
        <label>
            <input type="checkbox" value="Italian Sausage"
                   name="toppings[]">&nbsp;Italian Sausage
        </label>
        <label>
            <input type="checkbox" value="Canadian Bacon"
                   name="toppings[]">&nbsp;Canadian Bacon
        </label>
        <label>
            <input type="checkbox" value="pepperoni"
                   name="toppings[]">&nbsp;Pepperoni
        </label>
        <label>
            <input type="checkbox" value="mushroom"
                   name="toppings[]">&nbsp;Mushroom
        </label>
        <label>
            <input type="checkbox" value="Italian Sausage"
                   name="toppings[]">&nbsp;Italian Sausage
        </label><br>
        <label>
            <input type="checkbox" value="Canadian Bacon"
                   name="toppings[]">&nbsp;Canadian Bacon
        </label>
        <label>
            <input type="checkbox" value="pepperoni"
                   name="toppings[]">&nbsp;Pepperoni
        </label>
        <label>
            <input type="checkbox" value="mushroom"
                   name="toppings[]">&nbsp;Mushroom
        </label>
        <label>
            <input type="checkbox" value="Italian Sausage"
                   name="toppings[]">&nbsp;Italian Sausage
        </label>
        <label>
            <input type="checkbox" value="Canadian Bacon"
                   name="toppings[]">&nbsp;Canadian Bacon
        </label>
    </fieldset>

    <fieldset>
        <legend>Seeking</legend>
        <label>
            <input type="checkbox" value="pepperoni"
                   name="toppings[]">&nbsp;Pepperoni
        </label>
        <label>
            <input type="checkbox" value="mushroom"
                   name="toppings[]">&nbsp;Mushroom
        </label>
        <label>
            <input type="checkbox" value="Italian Sausage"
                   name="toppings[]">&nbsp;Italian Sausage
        </label>
        <label>
            <input type="checkbox" value="Canadian Bacon"
                   name="toppings[]">&nbsp;Canadian Bacon
        </label>
        <label>
            <input type="checkbox" value="pepperoni"
                   name="toppings[]">&nbsp;Pepperoni
        </label>
        <label>
            <input type="checkbox" value="mushroom"
                   name="toppings[]">&nbsp;Mushroom
        </label>
        <label>
            <input type="checkbox" value="Italian Sausage"
                   name="toppings[]">&nbsp;Italian Sausage
        </label><br>
        <label>
            <input type="checkbox" value="Canadian Bacon"
                   name="toppings[]">&nbsp;Canadian Bacon
        </label>
        <label>
            <input type="checkbox" value="pepperoni"
                   name="toppings[]">&nbsp;Pepperoni
        </label>
        <label>
            <input type="checkbox" value="mushroom"
                   name="toppings[]">&nbsp;Mushroom
        </label>
        <label>
            <input type="checkbox" value="Italian Sausage"
                   name="toppings[]">&nbsp;Italian Sausage
        </label>
        <label>
            <input type="checkbox" value="Canadian Bacon"
                   name="toppings[]">&nbsp;Canadian Bacon
        </label>
    </fieldset>
    <button class='btns' type='submit'><a href='date4'>Go check out your profile!</a></button>
</form>
</body>
</html>